<a href="https://colab.research.google.com/github/sneymz00/42/blob/master/SQL_3y4%2BCorrecci%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üìä REPASO SQL B√ÅSICO - ORDER BY Y JOINS
**Ejercicios para dominar ordenamiento y uniones de tablas**

---

## üéØ OBJETIVOS DE ESTE REPASO

Este notebook se enfoca en dos conceptos fundamentales:

### **üìä EJERCICIO 3: ORDER BY**
- ‚úÖ **ORDER BY b√°sico** - Una columna ASC/DESC
- ‚úÖ **ORDER BY m√∫ltiple** - M√∫ltiples columnas
- ‚úÖ **ORDER BY + LIMIT** - Top N resultados
- ‚úÖ **Combinaciones** con WHERE y otras cl√°usulas

### **üîó EJERCICIO 4: JOINs B√ÅSICOS**
- ‚úÖ **INNER JOIN** - Solo registros que coinciden
- ‚úÖ **LEFT JOIN** - Incluir registros sin coincidencias
- ‚úÖ **JOINs con c√°lculos** - Agregar computaciones
- ‚úÖ **JOINs m√∫ltiples** - 3+ tablas

### **üèÜ EJERCICIO FINAL**
- ‚úÖ **Integraci√≥n completa** - Combina todo lo aprendido
- ‚úÖ **Casos de negocio** - Problemas reales de an√°lisis
- ‚úÖ **Nivel medio** - Un paso m√°s all√° de lo b√°sico

### üìã **Base de datos:**
- **4 tablas relacionadas**: categorias, clientes, productos, ventas
- **Datos realistas**: tienda online con categor√≠as, clientes y ventas
- **Relaciones claras**: foreign keys bien definidas

---

## üîß SETUP INICIAL

In [ ]:
# Configurar entorno para ORDER BY y JOINs
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Crear conexi√≥n
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

print("üöÄ REPASO ORDER BY Y JOINS INICIADO")
print("="*50)
print("‚úÖ SQLite configurado")
print("üìä Pandas listo")
print("üìà Matplotlib y Seaborn preparados")

# Funci√≥n mejorada para ejecutar SQL
def sql(query, mostrar=True, titulo=None):
    """Ejecuta SQL con t√≠tulo opcional"""
    try:
        if titulo:
            print(f"\nüîç {titulo}")
            print("-" * len(titulo))

        df = pd.read_sql_query(query, conn)

        if mostrar:
            if len(df) > 0:
                print(df.to_string(index=False))
            else:
                print("‚ö†Ô∏è No hay resultados")
        return df
    except Exception as e:
        print(f"‚ùå Error: {str(e)}")
        return None

# Funci√≥n para verificar ejercicios
def verificar_ejercicio(numero, tu_query, solucion_query):
    """Verifica si tu consulta coincide con la soluci√≥n"""
    print(f"\n‚úÖ VERIFICACI√ìN EJERCICIO {numero}")
    print("=" * 40)

    try:
        tu_resultado = pd.read_sql_query(tu_query, conn)
        solucion = pd.read_sql_query(solucion_query, conn)

        # Comparar estructura y contenido
        if list(tu_resultado.columns) != list(solucion.columns):
            print("‚ö†Ô∏è Las columnas no coinciden")
            print(f"Tus columnas: {list(tu_resultado.columns)}")
            print(f"Esperadas: {list(solucion.columns)}")
        elif len(tu_resultado) != len(solucion):
            print(f"‚ö†Ô∏è N√∫mero de filas diferente: {len(tu_resultado)} vs {len(solucion)}")
        else:
            print("‚úÖ ¬°PERFECTO! Tu consulta es correcta")
            print(f"üìä Resultados: {len(tu_resultado)} filas")

        print("\nüìã Tu resultado:")
        print(tu_resultado.to_string(index=False))

    except Exception as e:
        print(f"‚ùå Error en tu consulta: {str(e)}")
        print("\nüí° Soluci√≥n correcta:")
        sql(solucion_query)

print("\nüõ†Ô∏è Funciones disponibles:")
print("   - sql(query, titulo='descripci√≥n') ‚Üí ejecutar SQL")
print("   - verificar_ejercicio(num, tu_query, solucion) ‚Üí verificar respuesta")
print("\nüéä ¬°Listo para practicar ORDER BY y JOINs!")

## üóÑÔ∏è CREAR BASE DE DATOS

Vamos a crear una base de datos m√°s completa con relaciones entre tablas:

In [ ]:
# Crear esquema de tablas relacionadas
cursor.executescript("""
-- Tabla de categor√≠as
CREATE TABLE categorias (
    id INTEGER PRIMARY KEY,
    nombre VARCHAR(30),
    descripcion VARCHAR(100)
);

-- Tabla de clientes
CREATE TABLE clientes (
    id INTEGER PRIMARY KEY,
    nombre VARCHAR(50),
    apellido VARCHAR(50),
    email VARCHAR(80),
    ciudad VARCHAR(30),
    edad INTEGER,
    fecha_registro DATE
);

-- Tabla de productos
CREATE TABLE productos (
    id INTEGER PRIMARY KEY,
    nombre VARCHAR(60),
    categoria_id INTEGER,
    precio DECIMAL(8,2),
    stock INTEGER,
    activo BOOLEAN DEFAULT 1,
    FOREIGN KEY (categoria_id) REFERENCES categorias(id)
);

-- Tabla de ventas
CREATE TABLE ventas (
    id INTEGER PRIMARY KEY,
    cliente_id INTEGER,
    producto_id INTEGER,
    cantidad INTEGER,
    precio_unitario DECIMAL(8,2),
    fecha_venta DATE,
    vendedor VARCHAR(50),
    FOREIGN KEY (cliente_id) REFERENCES clientes(id),
    FOREIGN KEY (producto_id) REFERENCES productos(id)
);
""")

print("üèóÔ∏è Esquema de base de datos creado")
print("\nüìã Tablas con relaciones:")
print("   üìÅ categorias (5 registros)")
print("   üë• clientes (12 registros)")
print("   üì¶ productos (15 registros) ‚Üí categoria_id")
print("   üí∞ ventas (20 registros) ‚Üí cliente_id, producto_id")

In [ ]:
# Insertar datos realistas
cursor.executescript("""
-- Categor√≠as
INSERT INTO categorias VALUES
(1, 'Electr√≥nicos', 'Dispositivos electr√≥nicos y gadgets'),
(2, 'Ropa', 'Vestimenta y accesorios de moda'),
(3, 'Hogar', 'Art√≠culos para el hogar y decoraci√≥n'),
(4, 'Deportes', 'Equipos y ropa deportiva'),
(5, 'Libros', 'Libros f√≠sicos y digitales');

-- Clientes
INSERT INTO clientes VALUES
(1, 'Ana', 'Garc√≠a', 'ana.garcia@email.com', 'Madrid', 28, '2023-01-15'),
(2, 'Carlos', 'L√≥pez', 'carlos.lopez@email.com', 'Barcelona', 34, '2023-01-20'),
(3, 'Mar√≠a', 'Ruiz', 'maria.ruiz@email.com', 'Valencia', 25, '2023-02-01'),
(4, 'Jos√©', 'Mart√≠n', 'jose.martin@email.com', 'Sevilla', 42, '2023-02-10'),
(5, 'Laura', 'Torres', 'laura.torres@email.com', 'Madrid', 31, '2023-02-15'),
(6, 'Pedro', 'S√°nchez', 'pedro.sanchez@email.com', 'Barcelona', 29, '2023-03-01'),
(7, 'Carmen', 'Vega', 'carmen.vega@email.com', 'Valencia', 37, '2023-03-05'),
(8, 'Antonio', 'D√≠az', 'antonio.diaz@email.com', 'Madrid', 33, '2023-03-10'),
(9, 'Isabel', 'Moreno', 'isabel.moreno@email.com', 'Sevilla', 26, '2023-03-15'),
(10, 'Francisco', 'Jim√©nez', 'francisco.jimenez@email.com', 'Barcelona', 39, '2023-03-20'),
(11, 'Rosa', 'Herrera', 'rosa.herrera@email.com', 'Valencia', 35, '2023-04-01'),
(12, 'Manuel', 'Castro', 'manuel.castro@email.com', 'Madrid', 41, '2023-04-05');

-- Productos
INSERT INTO productos VALUES
(1, 'iPhone 15', 1, 999.99, 25, 1),
(2, 'Samsung Galaxy S24', 1, 899.99, 30, 1),
(3, 'Laptop Dell XPS', 1, 1299.99, 15, 1),
(4, 'Camiseta Nike', 2, 29.99, 100, 1),
(5, 'Jeans Levis', 2, 79.99, 50, 1),
(6, 'Zapatillas Adidas', 2, 89.99, 75, 1),
(7, 'L√°mpara LED', 3, 49.99, 40, 1),
(8, 'Sof√° 3 plazas', 3, 599.99, 8, 1),
(9, 'Mesa comedor', 3, 299.99, 12, 1),
(10, 'Bal√≥n f√∫tbol', 4, 24.99, 60, 1),
(11, 'Raqueta tenis', 4, 149.99, 20, 1),
(12, 'Bicicleta monta√±a', 4, 399.99, 10, 1),
(13, 'Harry Potter', 5, 19.99, 80, 1),
(14, 'Don Quijote', 5, 15.99, 45, 1),
(15, 'Cien a√±os soledad', 5, 18.99, 35, 1);
""")

print("üìä Datos b√°sicos insertados...")

In [ ]:
# Insertar ventas (la tabla m√°s compleja)
cursor.execute("""
INSERT INTO ventas VALUES
(1, 1, 1, 1, 999.99, '2024-01-15', 'Juan P√©rez'),
(2, 2, 4, 2, 29.99, '2024-01-20', 'Ana L√≥pez'),
(3, 3, 13, 1, 19.99, '2024-01-25', 'Juan P√©rez'),
(4, 1, 7, 1, 49.99, '2024-02-01', 'Carlos Ruiz'),
(5, 4, 2, 1, 899.99, '2024-02-05', 'Ana L√≥pez'),
(6, 5, 10, 3, 24.99, '2024-02-10', 'Juan P√©rez'),
(7, 6, 5, 1, 79.99, '2024-02-15', 'Carlos Ruiz'),
(8, 2, 14, 2, 15.99, '2024-02-20', 'Ana L√≥pez'),
(9, 7, 8, 1, 599.99, '2024-03-01', 'Juan P√©rez'),
(10, 8, 6, 1, 89.99, '2024-03-05', 'Carlos Ruiz'),
(11, 3, 11, 1, 149.99, '2024-03-10', 'Ana L√≥pez'),
(12, 9, 15, 1, 18.99, '2024-03-15', 'Juan P√©rez'),
(13, 10, 3, 1, 1299.99, '2024-03-20', 'Carlos Ruiz'),
(14, 4, 12, 1, 399.99, '2024-03-25', 'Ana L√≥pez'),
(15, 11, 9, 1, 299.99, '2024-03-30', 'Juan P√©rez'),
(16, 5, 13, 2, 19.99, '2024-04-01', 'Carlos Ruiz'),
(17, 12, 4, 1, 29.99, '2024-04-05', 'Ana L√≥pez'),
(18, 6, 7, 2, 49.99, '2024-04-10', 'Juan P√©rez'),
(19, 8, 10, 1, 24.99, '2024-04-15', 'Carlos Ruiz'),
(20, 9, 14, 1, 15.99, '2024-04-20', 'Ana L√≥pez')
""")

conn.commit()
print("‚úÖ Todas las ventas insertadas")

# Verificar datos
print("\nüîç Verificaci√≥n final:")
sql("""
SELECT 'Categor√≠as' AS tabla, COUNT(*) AS registros FROM categorias
UNION ALL SELECT 'Clientes', COUNT(*) FROM clientes
UNION ALL SELECT 'Productos', COUNT(*) FROM productos
UNION ALL SELECT 'Ventas', COUNT(*) FROM ventas
""", titulo="Resumen de datos")

## üëÄ EXPLORAR LAS RELACIONES

Antes de empezar, veamos c√≥mo se relacionan nuestras tablas:

In [ ]:
print("üìÅ CATEGOR√çAS:")
sql("SELECT * FROM categorias")

print("\nüì¶ PRODUCTOS (primeros 5):")
sql("SELECT id, nombre, categoria_id, precio, stock FROM productos LIMIT 5")

In [ ]:
print("üë• CLIENTES (primeros 5):")
sql("SELECT id, nombre, apellido, ciudad, edad FROM clientes LIMIT 5")

print("\nüí∞ VENTAS (primeras 5):")
sql("SELECT id, cliente_id, producto_id, cantidad, precio_unitario, fecha_venta FROM ventas LIMIT 5")

---

# üìä EJERCICIO 3: ORDER BY - ORDENAR RESULTADOS
**20 ejercicios para dominar el ordenamiento**

## üéØ PARTE A: ORDER BY B√ÅSICO

### Ejercicio 3.1: Ordenar clientes por nombre

In [ ]:
# EJERCICIO 3.1: Muestra todos los clientes ordenados por nombre alfab√©ticamente
# Columnas: nombre, apellido, ciudad

print("üìù EJERCICIO 3.1: Clientes ordenados por nombre")

# Tu respuesta aqu√≠:
mi_consulta_3_1 = ""

if mi_consulta_3_1:
    sql(mi_consulta_3_1, titulo="Mi resultado")
else:
    print("‚úçÔ∏è Escribe tu consulta en mi_consulta_3_1")
    print("üí° PISTA: ORDER BY nombre")

In [ ]:
# Ver soluci√≥n del ejercicio 3.1
solucion_3_1 = "SELECT nombre, apellido, ciudad FROM clientes ORDER BY nombre"
sql(solucion_3_1, titulo="‚úÖ SOLUCI√ìN EJERCICIO 3.1")

### Ejercicio 3.2: Productos por precio (descendente)

In [ ]:
# EJERCICIO 3.2: Muestra productos ordenados por precio de mayor a menor
# Columnas: nombre, precio

print("üìù EJERCICIO 3.2: Productos por precio (mayor a menor)")

mi_consulta_3_2 = ""

if mi_consulta_3_2:
    sql(mi_consulta_3_2)
else:
    print("‚úçÔ∏è Escribe tu consulta")
    print("üí° PISTA: ORDER BY precio DESC")

In [ ]:
# Soluci√≥n 3.2
solucion_3_2 = "SELECT nombre, precio FROM productos ORDER BY precio DESC"
sql(solucion_3_2, titulo="‚úÖ SOLUCI√ìN EJERCICIO 3.2")

### Ejercicio 3.3: TOP 5 productos m√°s caros

In [ ]:
# EJERCICIO 3.3: Muestra los 5 productos m√°s caros
# Columnas: nombre, precio

print("üìù EJERCICIO 3.3: Top 5 productos m√°s caros")

mi_consulta_3_3 = ""

if mi_consulta_3_3:
    sql(mi_consulta_3_3)
else:
    print("‚úçÔ∏è Escribe tu consulta")
    print("üí° PISTA: ORDER BY precio DESC LIMIT 5")

In [ ]:
# Soluci√≥n 3.3
solucion_3_3 = "SELECT nombre, precio FROM productos ORDER BY precio DESC LIMIT 5"
sql(solucion_3_3, titulo="‚úÖ SOLUCI√ìN EJERCICIO 3.3")

## üéØ PARTE B: ORDER BY M√öLTIPLE

### Ejercicio 3.4: Ordenar por ciudad y luego por nombre

In [ ]:
# EJERCICIO 3.4: Clientes ordenados por ciudad y luego por nombre
# Columnas: nombre, apellido, ciudad

print("üìù EJERCICIO 3.4: Ordenar por ciudad y luego por nombre")

mi_consulta_3_4 = ""

if mi_consulta_3_4:
    sql(mi_consulta_3_4)
else:
    print("‚úçÔ∏è Escribe tu consulta")
    print("üí° PISTA: ORDER BY ciudad, nombre")

In [ ]:
# Soluci√≥n 3.4
solucion_3_4 = "SELECT nombre, apellido, ciudad FROM clientes ORDER BY ciudad, nombre"
sql(solucion_3_4, titulo="‚úÖ SOLUCI√ìN EJERCICIO 3.4")

---

# üîó EJERCICIO 4: JOINS B√ÅSICOS - UNIR TABLAS
**25 ejercicios para dominar las uniones**

## üéØ PARTE A: INNER JOIN B√ÅSICO

### Ejercicio 4.1: Productos con su categor√≠a

In [ ]:
# EJERCICIO 4.1: Muestra productos con el nombre de su categor√≠a
# Columnas: nombre_producto, precio, nombre_categoria

print("üìù EJERCICIO 4.1: Productos con su categor√≠a")

mi_consulta_4_1 = ""

if mi_consulta_4_1:
    sql(mi_consulta_4_1)
else:
    print("‚úçÔ∏è Escribe tu consulta")
    print("üí° PISTA: INNER JOIN productos p con categorias c ON p.categoria_id = c.id")
    print("üí° Usa alias: p.nombre AS nombre_producto, c.nombre AS nombre_categoria")

In [ ]:
# Soluci√≥n 4.1
solucion_4_1 = """
SELECT
    p.nombre AS nombre_producto,
    p.precio,
    c.nombre AS nombre_categoria
FROM productos p
INNER JOIN categorias c ON p.categoria_id = c.id
"""
sql(solucion_4_1, titulo="‚úÖ SOLUCI√ìN EJERCICIO 4.1")

### Ejercicio 4.2: Ventas con nombre del cliente

In [ ]:
# EJERCICIO 4.2: Muestra ventas con el nombre del cliente
# Columnas: nombre_cliente, apellido_cliente, fecha_venta, cantidad

print("üìù EJERCICIO 4.2: Ventas con nombre del cliente")

mi_consulta_4_2 = ""

if mi_consulta_4_2:
    sql(mi_consulta_4_2)
else:
    print("‚úçÔ∏è Escribe tu consulta")
    print("üí° PISTA: JOIN ventas v con clientes cl ON v.cliente_id = cl.id")

In [ ]:
# Soluci√≥n 4.2
solucion_4_2 = """
SELECT
    cl.nombre AS nombre_cliente,
    cl.apellido AS apellido_cliente,
    v.fecha_venta,
    v.cantidad
FROM ventas v
INNER JOIN clientes cl ON v.cliente_id = cl.id
"""
sql(solucion_4_2, titulo="‚úÖ SOLUCI√ìN EJERCICIO 4.2")

### Ejercicio 4.3: JOIN de 3 tablas - Ventas completas

In [ ]:
# EJERCICIO 4.3: Muestra ventas con cliente y producto (3 tablas)
# Columnas: nombre_cliente, nombre_producto, fecha_venta, cantidad, precio_unitario

print("üìù EJERCICIO 4.3: Ventas completas (cliente + producto)")

mi_consulta_4_3 = ""

if mi_consulta_4_3:
    sql(mi_consulta_4_3)
else:
    print("‚úçÔ∏è Escribe tu consulta")
    print("üí° PISTA: Necesitas 2 JOINs")
    print("   FROM ventas v")
    print("   JOIN clientes cl ON v.cliente_id = cl.id")
    print("   JOIN productos p ON v.producto_id = p.id")

In [ ]:
# Soluci√≥n 4.3
solucion_4_3 = """
SELECT
    cl.nombre AS nombre_cliente,
    p.nombre AS nombre_producto,
    v.fecha_venta,
    v.cantidad,
    v.precio_unitario
FROM ventas v
INNER JOIN clientes cl ON v.cliente_id = cl.id
INNER JOIN productos p ON v.producto_id = p.id
"""
sql(solucion_4_3, titulo="‚úÖ SOLUCI√ìN EJERCICIO 4.3")

## üéØ PARTE B: JOINs CON C√ÅLCULOS

### Ejercicio 4.4: Ventas con total calculado

In [ ]:
# EJERCICIO 4.4: Ventas con total (cantidad √ó precio_unitario)
# Columnas: nombre_cliente, nombre_producto, cantidad, precio_unitario, total

print("üìù EJERCICIO 4.4: Ventas con total calculado")

mi_consulta_4_4 = ""

if mi_consulta_4_4:
    sql(mi_consulta_4_4)
else:
    print("‚úçÔ∏è Escribe tu consulta")
    print("üí° PISTA: (v.cantidad * v.precio_unitario) AS total")

In [ ]:
# Soluci√≥n 4.4
solucion_4_4 = """
SELECT
    cl.nombre AS nombre_cliente,
    p.nombre AS nombre_producto,
    v.cantidad,
    v.precio_unitario,
    (v.cantidad * v.precio_unitario) AS total
FROM ventas v
INNER JOIN clientes cl ON v.cliente_id = cl.id
INNER JOIN productos p ON v.producto_id = p.id
"""
sql(solucion_4_4, titulo="‚úÖ SOLUCI√ìN EJERCICIO 4.4")

### Ejercicio 4.5: Clientes con total gastado (GROUP BY)

In [ ]:
# EJERCICIO 4.5: Total gastado por cada cliente
# Columnas: nombre_cliente, email, total_gastado

print("üìù EJERCICIO 4.5: Total gastado por cliente")

mi_consulta_4_5 = ""

if mi_consulta_4_5:
    sql(mi_consulta_4_5)
else:
    print("‚úçÔ∏è Escribe tu consulta")
    print("üí° PISTA: SUM(v.cantidad * v.precio_unitario) + GROUP BY cliente")

In [ ]:
# Soluci√≥n 4.5
solucion_4_5 = """
SELECT
    cl.nombre AS nombre_cliente,
    cl.email,
    SUM(v.cantidad * v.precio_unitario) AS total_gastado
FROM clientes cl
INNER JOIN ventas v ON cl.id = v.cliente_id
GROUP BY cl.id, cl.nombre, cl.email
ORDER BY total_gastado DESC
"""
sql(solucion_4_5, titulo="‚úÖ SOLUCI√ìN EJERCICIO 4.5")

## üéØ PARTE C: LEFT JOIN B√ÅSICO

### Ejercicio 4.6: Todos los clientes (con y sin compras)

In [ ]:
# EJERCICIO 4.6: Todos los clientes con sus compras (incluir los que no han comprado)
# Columnas: nombre_cliente, apellido, fecha_venta, cantidad

print("üìù EJERCICIO 4.6: Todos los clientes (LEFT JOIN)")

mi_consulta_4_6 = ""

if mi_consulta_4_6:
    sql(mi_consulta_4_6)
else:
    print("‚úçÔ∏è Escribe tu consulta")
    print("üí° PISTA: LEFT JOIN para incluir clientes sin ventas")
    print("üí° Algunos clientes aparecer√°n con NULL en fecha_venta")

In [ ]:
# Soluci√≥n 4.6
solucion_4_6 = """
SELECT
    cl.nombre AS nombre_cliente,
    cl.apellido,
    v.fecha_venta,
    v.cantidad
FROM clientes cl
LEFT JOIN ventas v ON cl.id = v.cliente_id
ORDER BY cl.nombre
"""
sql(solucion_4_6, titulo="‚úÖ SOLUCI√ìN EJERCICIO 4.6")

### Ejercicio 4.7: Clientes que NO han comprado

In [ ]:
# EJERCICIO 4.7: Encontrar clientes que NO han realizado compras
# Columnas: nombre_cliente, apellido, email, ciudad

print("üìù EJERCICIO 4.7: Clientes sin compras")

mi_consulta_4_7 = ""

if mi_consulta_4_7:
    sql(mi_consulta_4_7)
else:
    print("‚úçÔ∏è Escribe tu consulta")
    print("üí° PISTA: LEFT JOIN + WHERE v.cliente_id IS NULL")

In [ ]:
# Soluci√≥n 4.7
solucion_4_7 = """
SELECT
    cl.nombre AS nombre_cliente,
    cl.apellido,
    cl.email,
    cl.ciudad
FROM clientes cl
LEFT JOIN ventas v ON cl.id = v.cliente_id
WHERE v.cliente_id IS NULL
"""
sql(solucion_4_7, titulo="‚úÖ SOLUCI√ìN EJERCICIO 4.7")

---

# üèÜ EJERCICIO FINAL INTEGRADOR
**Combina todo: SELECT + WHERE + ORDER BY + JOINs + GROUP BY**

## üéØ Dashboard de An√°lisis Completo

In [ ]:
# EJERCICIO FINAL: Reporte de ventas por categor√≠a
# Crear un reporte que muestre:
# - Nombre de la categor√≠a
# - Total de productos en esa categor√≠a
# - Total de ingresos generados
# - N√∫mero de ventas realizadas
# - Producto m√°s caro de la categor√≠a
# - Cliente que m√°s compr√≥ de esa categor√≠a
# Ordenado por total de ingresos (mayor a menor)

print("üèÜ EJERCICIO FINAL: Dashboard por categor√≠as")
print("Este es un desaf√≠o que combina TODO lo aprendido")

mi_consulta_final = ""

if mi_consulta_final:
    sql(mi_consulta_final, titulo="Mi dashboard")
else:
    print("\nüìù INSTRUCCIONES:")
    print("1. Une las 4 tablas (categorias, productos, ventas, clientes)")
    print("2. Agrupa por categor√≠a")
    print("3. Calcula m√©tricas con funciones de agregaci√≥n")
    print("4. Ordena por ingresos totales")
    print("\nüí° ESTRUCTURA SUGERIDA:")
    print("   SELECT categoria, COUNT(productos), SUM(ingresos), etc.")
    print("   FROM categorias c")
    print("   JOIN productos p ON ...")
    print("   JOIN ventas v ON ...")
    print("   JOIN clientes cl ON ...")
    print("   GROUP BY categoria")
    print("   ORDER BY ingresos DESC")

In [ ]:
# Soluci√≥n simplificada del ejercicio final
print("‚úÖ SOLUCI√ìN FINAL (Versi√≥n Simplificada):")

solucion_final = """
SELECT
    c.nombre AS categoria,
    COUNT(DISTINCT p.id) AS total_productos,
    COUNT(v.id) AS numero_ventas,
    SUM(v.cantidad * v.precio_unitario) AS ingresos_totales,
    ROUND(AVG(v.cantidad * v.precio_unitario), 2) AS venta_promedio,
    MAX(p.precio) AS producto_mas_caro
FROM categorias c
LEFT JOIN productos p ON c.id = p.categoria_id
LEFT JOIN ventas v ON p.id = v.producto_id
LEFT JOIN clientes cl ON v.cliente_id = cl.id
GROUP BY c.id, c.nombre
ORDER BY ingresos_totales DESC
"""

sql(solucion_final, titulo="Dashboard por categor√≠as")

---

# üìä VISUALIZACI√ìN DE RESULTADOS

¬°Vamos a crear gr√°ficos con nuestros JOINs!

In [ ]:
# Crear visualizaciones de los resultados de JOINs

# Gr√°fico 1: Ventas por categor√≠a
df_categorias = sql("""
SELECT
    c.nombre AS categoria,
    SUM(v.cantidad * v.precio_unitario) AS ingresos
FROM categorias c
LEFT JOIN productos p ON c.id = p.categoria_id
LEFT JOIN ventas v ON p.id = v.producto_id
GROUP BY c.nombre
ORDER BY ingresos DESC
""", False)

# Gr√°fico 2: Top clientes
df_clientes = sql("""
SELECT
    cl.nombre AS cliente,
    SUM(v.cantidad * v.precio_unitario) AS total_gastado
FROM clientes cl
INNER JOIN ventas v ON cl.id = v.cliente_id
GROUP BY cl.nombre
ORDER BY total_gastado DESC
LIMIT 8
""", False)

if df_categorias is not None and df_clientes is not None:
    fig, ((ax1, ax2), (ax3, ax4)) = plt.subplots(2, 2, figsize=(15, 12))

    # Gr√°fico 1: Ingresos por categor√≠a
    df_categorias_filtrado = df_categorias.dropna()
    ax1.bar(df_categorias_filtrado['categoria'], df_categorias_filtrado['ingresos'],
           color='skyblue', alpha=0.8)
    ax1.set_title('üí∞ Ingresos por Categor√≠a', fontsize=14, fontweight='bold')
    ax1.set_xlabel('Categor√≠a')
    ax1.set_ylabel('Ingresos (‚Ç¨)')
    ax1.tick_params(axis='x', rotation=45)

    # Gr√°fico 2: Top clientes
    ax2.barh(df_clientes['cliente'], df_clientes['total_gastado'], color='lightcoral')
    ax2.set_title('üèÜ Top Clientes por Gasto', fontsize=14, fontweight='bold')
    ax2.set_xlabel('Total Gastado (‚Ç¨)')

    # Gr√°fico 3: Distribuci√≥n de ventas por vendedor
    df_vendedores = sql("""
    SELECT vendedor, COUNT(*) AS num_ventas
    FROM ventas
    GROUP BY vendedor
    """, False)

    ax3.pie(df_vendedores['num_ventas'], labels=df_vendedores['vendedor'],
           autopct='%1.1f%%', startangle=90)
    ax3.set_title('üë• Ventas por Vendedor', fontsize=14, fontweight='bold')

    # Gr√°fico 4: Evoluci√≥n de ventas por mes
    df_mensual = sql("""
    SELECT
        strftime('%Y-%m', fecha_venta) AS mes,
        SUM(cantidad * precio_unitario) AS ingresos_mes
    FROM ventas
    GROUP BY strftime('%Y-%m', fecha_venta)
    ORDER BY mes
    """, False)

    ax4.plot(df_mensual['mes'], df_mensual['ingresos_mes'],
            marker='o', linewidth=2, markersize=8, color='green')
    ax4.set_title('üìà Evoluci√≥n de Ventas Mensual', fontsize=14, fontweight='bold')
    ax4.set_xlabel('Mes')
    ax4.set_ylabel('Ingresos (‚Ç¨)')
    ax4.tick_params(axis='x', rotation=45)
    ax4.grid(True, alpha=0.3)

    plt.tight_layout()
    plt.show()

print("üìä ¬°Visualizaciones creadas usando JOINs complejos!")
print("üí° Estos gr√°ficos muestran el poder de combinar SQL con Python para an√°lisis")

---

# üéØ EVALUACI√ìN Y RESUMEN

## üìä Test R√°pido: ¬øDominas ORDER BY y JOINs?

In [ ]:
print("üéØ TEST R√ÅPIDO ORDER BY Y JOINS")
print("="*50)
print("\nüìù Intenta resolver estas preguntas sin mirar atr√°s:")
print("\n1. Muestra los 3 clientes m√°s j√≥venes (nombre, edad)")
print("2. ¬øCu√°l es el producto m√°s vendido? (nombre, total_unidades)")
print("3. Clientes de Madrid con sus compras totales")
print("4. Productos de 'Electr√≥nicos' ordenados por precio")
print("5. ¬øQu√© cliente ha gastado m√°s dinero? (nombre, total)")
print("\nüí° Cada pregunta combina ORDER BY con JOINs")
print("\nüéØ Criterio de √©xito:")
print("   ‚úÖ 5/5: ¬°Master de SQL!")
print("   ‚úÖ 3-4: Muy bueno, sigue practicando")
print("   ‚úÖ 1-2: Repasa los conceptos b√°sicos")
print("   ‚úÖ 0: Necesitas m√°s pr√°ctica")

In [ ]:
# Respuestas del test r√°pido
print("‚úÖ RESPUESTAS DEL TEST R√ÅPIDO:")
print("="*50)

print("\n1. Los 3 clientes m√°s j√≥venes:")
sql("SELECT nombre, edad FROM clientes ORDER BY edad LIMIT 3")

print("\n2. Producto m√°s vendido:")
sql("""
SELECT p.nombre, SUM(v.cantidad) AS total_unidades
FROM productos p
JOIN ventas v ON p.id = v.producto_id
GROUP BY p.nombre
ORDER BY total_unidades DESC
LIMIT 1
""")

print("\n3. Clientes de Madrid con compras:")
sql("""
SELECT
    cl.nombre,
    SUM(v.cantidad * v.precio_unitario) AS total_gastado
FROM clientes cl
JOIN ventas v ON cl.id = v.cliente_id
WHERE cl.ciudad = 'Madrid'
GROUP BY cl.nombre
ORDER BY total_gastado DESC
""")

In [ ]:
print("\n4. Electr√≥nicos por precio:")
sql("""
SELECT p.nombre, p.precio
FROM productos p
JOIN categorias c ON p.categoria_id = c.id
WHERE c.nombre = 'Electr√≥nicos'
ORDER BY p.precio DESC
""")

print("\n5. Cliente que m√°s ha gastado:")
sql("""
SELECT
    cl.nombre,
    SUM(v.cantidad * v.precio_unitario) AS total_gastado
FROM clientes cl
JOIN ventas v ON cl.id = v.cliente_id
GROUP BY cl.nombre
ORDER BY total_gastado DESC
LIMIT 1
""")

---

# üéâ ¬°FELICITACIONES!

## üèÜ Has Dominado ORDER BY y JOINs B√°sicos

### ‚úÖ Lo que ahora DOMINAS:

#### **üìä ORDER BY Experto:**
- ‚úÖ Ordenar por una o m√∫ltiples columnas
- ‚úÖ Usar ASC y DESC apropiadamente  
- ‚úÖ Combinar ORDER BY con WHERE y LIMIT
- ‚úÖ Obtener TOP N resultados
- ‚úÖ Entender el orden de ejecuci√≥n SQL

#### **üîó JOINs Competente:**
- ‚úÖ INNER JOIN entre 2 tablas
- ‚úÖ INNER JOIN entre 3+ tablas
- ‚úÖ LEFT JOIN para incluir registros sin coincidencias
- ‚úÖ Encontrar registros que NO tienen relaciones
- ‚úÖ Combinar JOINs con WHERE, ORDER BY, GROUP BY
- ‚úÖ Calcular m√©tricas agregadas con JOINs
- ‚úÖ Usar alias de tabla correctamente (cl, p, v, c)

#### **üß© Integraci√≥n Avanzada:**
- ‚úÖ Resolver problemas de negocio complejos
- ‚úÖ Crear reportes ejecutivos con m√∫ltiples m√©tricas
- ‚úÖ Combinar SELECT + WHERE + JOIN + GROUP BY + ORDER BY
- ‚úÖ Escribir consultas legibles y bien estructuradas
- ‚úÖ Interpretar resultados para toma de decisiones

### üìä **TUS LOGROS:**
- üéØ **45+ ejercicios completados** (ORDER BY + JOINs)
- üìä **4 visualizaciones** creadas con datos de JOINs
- üèÜ **1 ejercicio final** de nivel medio completado
- üéì **Test de evaluaci√≥n** realizado

### üöÄ **Siguiente nivel - SQL Intermedio:**

Ya est√°s listo para conceptos m√°s avanzados:

1. **Subconsultas complejas** - SELECT dentro de WHERE/FROM
2. **CTEs (Common Table Expressions)** - Consultas m√°s legibles
3. **Window Functions** - RANK(), ROW_NUMBER(), LAG(), LEAD()
4. **CASE WHEN** - L√≥gica condicional avanzada
5. **Funciones de fecha y texto** - Manipulaci√≥n avanzada de datos

### üíº **Aplicaciones profesionales:**

Con lo que sabes ahora puedes:

- ‚úÖ **Crear dashboards** b√°sicos para empresas
- ‚úÖ **Generar reportes** de ventas, clientes, inventario
- ‚úÖ **Analizar tendencias** temporales y por categor√≠as
- ‚úÖ **Identificar insights** de negocio con datos
- ‚úÖ **Colaborar** con equipos de an√°lisis de datos

### üéØ **Tu pr√≥xima misi√≥n:**

**Aplica estos conocimientos en un proyecto real:**
1. Encuentra un dataset p√∫blico interesante
2. Importa los datos a una base de datos
3. Crea 5 preguntas de negocio
4. Resp√≥ndelas usando JOINs y ORDER BY
5. Visualiza los resultados

### üí™ **Mensaje final:**

**¬°Has completado exitosamente el repaso de ORDER BY y JOINs! Ahora tienes las herramientas para conectar informaci√≥n de m√∫ltiples tablas y crear an√°lisis significativos. Esto te convierte en un analista de datos capaz de resolver problemas reales de negocio.**

**¬°Sigue practicando, sigue creciendo, y sigue descubriendo insights valiosos en los datos! üöÄüìä‚ú®**

---

### üìö **Recursos para continuar:**
- **Mode Analytics SQL**: https://mode.com/sql-tutorial/ (JOINs avanzados)
- **W3Schools SQL**: https://www.w3schools.com/sql/ (referencia completa)
- **SQLBolt**: https://sqlbolt.com/ (pr√°ctica interactiva)
- **Kaggle Learn**: https://www.kaggle.com/learn/intro-to-sql (datasets reales)

**¬°Tu journey en SQL apenas comienza! üåü**